body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  background-image: url("JoHannesHeigH.png");
  align-items: center;
  padding: 3rem;
  background-size:450px ;
  background-repeat: repeat ; 
}

h1 {
  color: rgb(192, 141, 99);
  text-align: center;
  margin-top: 0;
}

p {
  color: rgb(192, 141, 99);
  font-family: verdana;
  font-size: 20px;
  float: left;
}

.field {
  background-color: rgba(42, 3, 78, 0.76);
  padding: 1cm 1cm 1cm 1cm ;
  border-radius: 25px;
  height: auto;
  width: 300px;
  
  margin-bottom: 30;
}

h3 {
  color: rgb(192, 141, 99);
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.button {
  background-color: rgb(192, 141, 99);
  color: rgb(0, 0, 0);
}

select {
  background-color: rgb(192, 141, 99);
  color: rgb(0, 0, 0);
}

input {
  background-color: rgb(192, 141, 99);
}

.devicehope{
  background-color: rgba(106, 78, 117, 0.76);
  border-style: solid;
  border-width: 5px;
  border: 10px;
  border-radius: 25px;
  justify-content: center;
  padding: 15px;

}

.device-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.device-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  color: #bd917e;
  background-color: #f5c444;
  cursor: pointer;
}

.toggle-button {
  width: 60px;
  height: 60px;

  background-image: url("johagreen.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  background-color: green;

  border: none;
  cursor: pointer;
}

.remove-button {
  width: 60px;
  height: 60px;

  background-image: url("johared.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  background-color: rgb(194, 18, 18);

  border: none;
  cursor: pointer;
}

.device-button:hover {
  background-color: #0056b3;
}